

::-webkit-scrollbar {
	width: 17px;
}

::-webkit-scrollbar-track {
	background-color: #D553FF;
	border-radius: 40px;
}

::-webkit-scrollbar-thumb {
	background-color: gold;
	border-radius: 40px;
}

body {
	background-color: #2f3032;
}

html,
body {
	height: 100%;
}

/**Divs gerais!*/
.container {
	width: 100%;
	max-width: 1024px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

/******/
header {
	background-color: rgb(37, 37, 40);
	padding: 10px 2% 25px 2%;
	background: #0C0C0C;
	background: -webkit-linear-gradient(top, #0C0C0C, #D553FF);
	background: -moz-linear-gradient(top, #0C0C0C, #D553FF);
	background: linear-gradient(to bottom, #0C0C0C, #D553FF);
}

.logo-1 {
	float: left;
	margin-left: 1%;
	width: 140px;
	height: 90px;
	background-image: url('../imagens/studiokalk.svg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}

.logo-2 {
	float: right;
	margin-right: 1%;
	width: 160px;
	height: 90px;
	background-image: url('../imagens/studio-kalk3.svg');
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
}

.bg {
	position: relative;
	min-height: 550px;
	background-position: center center; 
 	background-image: url('../imagens/woman.jpg');
}

section.chamada {
	z-index: 1;
	width: 100%;
	text-align: center;
	position: relative;
}

.icone-seta {
	position: absolute;
	left: 50%;
	top: -32px;
	transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	width: 64px;
	height: 64px;
	background-size: 100% 100%;
	background-image: url('../imagens/Star\ 2.svg');
}

section.chamada div.container {
	background: #0C0C0C;
	background: -webkit-linear-gradient(top, #0C0C0C, #D553FF);
	background: -moz-linear-gradient(top, #0C0C0C, #D553FF);
	background: linear-gradient(to bottom, #0C0C0C, #D553FF);
	padding: 70px 0 50px 0;
}

section.chamada h2 {
	width: 98%;
	max-width: 700px;
	display: inline-block;
	color: rgb(199, 199, 199);
	font-size: 3em;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Italianno', cursive;
	letter-spacing: 2px;
}

section.chamada p {
	width: 98%;
	max-width: 700px;
	display: inline-block;
	color: rgb(200, 199, 199);
	margin-top: 10px;
	font-size: 3em;
	font-weight: lighter;
	font-family: 'Italianno', cursive;
}

.flex-mosaico {
	display: flex;
}

.item-1-mosaico {
	background-position: center;
	background-size: cover;
	width: 60%;
	/* height: 400px; */
}

.item-2-mosaico {
	background-color: #232425;
	padding: 90px 40px;
	width: 40%;
}

.item-2-mosaico p {
	color: rgb(153, 153, 153);
	font-size: 1em;
	line-height: 1.3;
	text-align: left;
}

footer .container {
	text-align: center;
	padding: 20px 0;
	background-color: rgb(63, 58, 58);
}

footer img {
	width: 130px;
}

@media screen and (max-width: 1024px) {
	.bg {
		height: auto;
		padding: 80px 0;
		text-align: center;
	}
}

@media screen and (max-width: 768px) {

	.flex-mosaico {
		display: block;
	}

	.item-1-mosaico {
		padding-top: 80%;
		width: 100%;
	}

	.item-2-mosaico {
		text-align: justify;
		width: 100%;
	}
}

@media screen and (max-width: 510px) {

	header {
		text-align: center;
	}

	[class^="logo"] {
		margin-top: 10px;
		display: inline-block;
		float: none;
	}

}